{% include 'partials/_header.html.twig' %}

<main>
    {#je fais une boucle sur tous mes articles #}
    {% for article in articles %}
    <article>
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        <div class = 'imgContainer'><img src="{{ article.image }}" alt="{{ article.title }}" class="img"></div>
    </article>
    {% endfor %}
</main>

{% include 'partials/_footer.html.twig' %}