{% extends 'base.html.twig' %}

{% block main %}
<section>
    <div>
        <p>Enregistrement de la supression de "{{ article.title }}" :'(</p>
    </div>
{% endblock %}

{% block metatitle %}Super Article | Suppression d'un article{% endblock %}

