{% extends 'base.html.twig' %}

{% block main %}
<section>
    <div>
        <p>Enregistrement de la création du nouvel article "{{ article.title }}" ;)</p>
    </div>
</section>
{% endblock %}

{% block metatitle %}
    Super Article | Enregistrement création de l'article
{% endblock %}

