{% extends 'base.html.twig' %}

{% block main %}

    <h2 class="center">Création d'article</h2>

    {{ form_start(formView) }}
    {{ form_widget (formView, {'attr': {'class':'formSection'}}) }}
    {{ form_end(formView) }}

{% endblock %}

{% block metatitle %}
    Super Article | Enregistrement création de l'article
{% endblock %}

