{% extends 'base.html.twig' %}

{% block main %}
<section>
    <article>
        <p>L'article "{{ article.title }}" a été mit à jour avec succès</p>
    </article>
</section>
{% endblock %}

{% block metatitle %}
Super Article | Mise à jour d'un article
{% endblock %}

