{% extends 'base.html.twig' %}

{% block metatitle%} Super Article | Resultat de la recherche {% endblock metatitle %}

{% block main %}
    <h2>Resultat pour la recherche {{ search }}</h2>
{% endblock main %}

