{% extends 'base.html.twig' %}

{% block main %}

    <h2>Mise à jour des articles</h2>
    {{ form(formView) }}

{% endblock main %}


{% block metatitle %}
Super Article | Mise à jour d'un article
{% endblock %}

