{% extends 'base.html.twig' %}

{% block main %}
<section>
    <div>
        <p>Votre catégorie {{ category.title }} a bien été créée ;)</p>
    </div>
</section>
{% endblock %}

{% block metatitle %} Super Article | Enregistrement création de catégorie {% endblock %}

