{% extends 'base.html.twig' %}

{% block main %}
    <section>
        <div>
            <p>Enregistrement de la supression de la catégorie "{{ category.title }}" :'(</p>
        </div>
    </section>
{% endblock main %}

{% block metatitle %}
    Super Article | Suppression d'une catégorie
{% endblock %}

