{% extends 'base.html.twig' %}

{% block metatitle %} Super Article | Catégorie {% endblock metatitle %}

{% block main %}
    <section>
        <article class="categoryArticle" style="border: {{ category.color }} dashed 2px;">
            {# je fais une boucle sur tous mes articles #}
            <h2 style="color: {{ category.color }}" class="h2Category">{{ category.title }}</h2>
            <p>{{ category.color }}</p>
        </article>
    </section>
{% endblock main %}

