{% extends 'base.html.twig' %}

{% block metatitle %} Super Article | Catégorie {% endblock metatitle %}

{% block main %}
    <section class="isFlex">
        {#je fais une boucle sur tous mes articles #}
        <h2>{{ category.title }}</h2>
        <p>{{ category.color }}</p>
    </section>
{% endblock main %}

