{% extends 'base.html.twig' %}

{% block metatitle %} Super Article | Toutes les catégories {% endblock metatitle %}

{% block main %}
    <section class="isFlex marginAuto">
        {#je fais une boucle sur tous mes articles #}
        {% for category in categories %}
            <article class="categoryArticle" style="border: {{ category.color }} dashed 2px;">
                <h2 class="inArticle" style="color:{{ category.color }}">{{ category.title }}</h2>
                <p>{{ category.color }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock main %}

