{% extends 'base.html.twig' %}

{% block main %}


        <h2>Création de catégorie</h2>

        {{ form_start(formView) }}
        {{ form_widget (formView, {'attr': {'class':'formSection'}}) }}
        {{ form_end(formView) }}

{% endblock %}

{% block metatitle %} Super Article | Enregistrement création de catégorie {% endblock %}

