{% extends 'base.html.twig' %}

{% block main %}

    <section>
        <article>
            <p>La catégorie "{{ category.title }}" a été mise à jour avec succès</p>
        </article>
    </section>
{% endblock main %}

{% block metatitle %}
Super Article | Mise à jour d'une catégorie
{% endblock metatitle%}

