{% extends 'base.html.twig' %}

{% block metatitle %} Super Article | Formulaire de contact {% endblock metatitle %}

{% block main %}

    {% if email is not null and subject is not null and message_area is not null %}
        <section class="formSection">
            <p>Formulaire bien envoyé merci !</p>

            <p>Résumé de la demande : </p>
            <ul id="formSend">
                <li><span>Votre nom</span> : {{ name }}</li>
                <li><span>Votre adresse mail</span> : {{ email }}</li>
                <li><span>Le sujet de contact</span> : {{ subject }}</li>
                <li><span>Votre message</span> : {{ message_area }}</li>
            </ul>
        </section>

    {% else %}

        <form method="POST" class="formSection">
            <div class="formContact">
                <label for="name">Nom et prénom</label>
                <input type="text" name="name" id="name" placeholder="Nom et prénom">
            </div>

            <div class="formContact">
                <label for="email">Adresse mail</label>
                <input type="text" name="email" id="email" placeholder="Adresse mail" required>
            </div>
            <div class="formContact">
                <label for="subject">Sujet</label>
                <input type="text" name="subject" id="subject" placeholder="Sujet" required>
            </div>
            <div class="formContact">
                <label for="message_area">Votre message</label>
                <textarea id="message_area" name="message_area" required></textarea>
            </div>
            <div class="formContact">
                <button type="submit">Envoyer</button>
            </div>
        </form>

    {% endif %}

{% endblock main %}