{% extends 'base.html.twig' %}

{% block metatitle %} Super Article | Demande envoyé {% endblock metatitle %}

{% block main %}

    <section>
        <h2>Votre demande à été envoyé</h2>
        <p>Résumé de la demande : </p>
        <ul>
            <li>Votre nom : {{ name }}</li>
            <li>Votre adresse mail :{{ email }}</li>
            <li>Le sujet de contact : {{ subject }}</li>
            <li>Votre message {{ message_area }}</li>
        </ul>
    </section>

{% endblock main %}