{% extends 'base.html.twig' %}

{% block metatitle %} Super Article | Erreur {% endblock metatitle %}

{% block main %}
    <h2 id="errorPage">Erreur 404</h2>
    <p>La page que vous recherchez n'existe pas</p>
{% endblock main %}
